*{
    margin: 0;
    padding: 0;
}
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.header{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-title{
    color: rgba(13, 19, 33, 1);
    font-size: 48px;
    font-weight: 800;
}
.hero-subtitle{
    color: rgba(13, 19, 33, 1);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}
.hero-btn{
    color: #FFFFFF;
    padding: 21px 24px;
    background-color: rgba(13, 19, 33, 1);
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 600;
}

/* Main Body */
.outer{
    margin: 50px 150px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    margin-bottom: 90px;
}
.inner{
    padding: 80px 97px;

}
.main-title{
    color: rgba(13, 19, 33, 1);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.main-subtitle{
    color: rgba(13, 19, 33, 1);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}
#main-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#first-pair{
    display: flex;
    justify-content: space-around;
    padding: 32px;
}
.fp{
    background-color: #FFFFFF;
    padding: 58px 421px 58px 48px;
    border-radius: 16px;
}
#fp-title{
    color: rgba(13, 19, 33, 0.7);
    font-weight: 600;
    font-size: 24px;
}
#fp-title2{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
}
#fp-subtitle{
    color: rgba(13, 19, 33, 0.7);
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.white-btn{
    padding: 12px 20px;
    background-color: #FFFFFF;
    color: rgba(13, 19, 33, 1);
    font-size: 20px;
    font-weight: 700;
}
#second-pair{
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
}
#third-pair{
    display: flex;
    justify-content: space-around;
    padding: 32px;
}